* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
}
.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 80px;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav_links a {
    color: #0A9300;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.nav_links a:hover {
    filter: drop-shadow(0 0 0.75rem black);
}

main {
    background-color: #d3d3d3;
    width: 100%;
    height: fit-content;
    padding-bottom: 80px;
    padding-top: 7.5rem;
}
main button {
    display: block;
    margin: /* 60px 160px */60px auto 0 auto;
    font-size: 1.35rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    padding: 0.938rem 1.25rem;
    background-color: #0A9300;
    color: white;
    box-shadow: hsl(125, 80%, 20%) 0px 7px 0px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, font-size 0.3s ease;
    width: 280px;
}
main button:hover {
    background-color: #087500;
    font-size: 1.5rem;
}
.booking_container {
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
    width: 100%;
    border-radius: 5px;
    height: fit-content;
    padding: 10px 80px;
    gap: 40px;
}
.sticky_total {
    min-width: 41%;
    max-width: 41%;
}
.total--container {
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 40px;
    outline: none;
    position: sticky; 
    top: 140px;
    margin-top: 14px;
    width: 100%;
}
.total--container--inner {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}
#total_cost, #service_duration {
    font-size: 1.2rem;
    margin-left: 10px;
}


.form {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 5px;
    font-size: 1.2rem;
    min-width: 59%;
    max-width: 59%;
    height: fit-content;
}
.personal_details--container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.personal_details--container h2, .appointment_details--container h2 {
    text-decoration: underline;
}
.appointment_details--container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.date--container {
    display: flex;
    flex-direction: column;
    gap: 30px;
} 
.name--container > input, .personal_details--container > input, .date--container > input, .appointment_details--container select {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    outline: none;
}
.appointment_details--container textarea {
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    outline: none;
}
.name--container {
    display: flex;
    gap: 20px;
}
.service--container {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}
.service--container--inner {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.service--container--inner button {
    height: 20px;
    display: block;
    margin-left: 0 auto;
}
#services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
