* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    background: linear-gradient(
    -45deg,
    #A8E1A1,
    #a8e0a0,
    #bdebb9,
    #dcfce7, 
    #f0fff0,
    #d4f7d1
    );
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 200%;
    width: 100%;
    height: fit-content;
    padding-bottom: 80px;
    padding-top: 7.5rem;
}

@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    25% {
    background-position: 50% 100%;
    }
    50% {
    background-position: 100% 50%;
    }
    75% {
    background-position: 50% 0%;
    }
    100% {
    background-position: 0% 50%;
    }
}
main button {
    display: block;
    margin: /* 60px 160px */60px auto 0 auto;
    font-size: 1.35rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    padding: 0.938rem 1.25rem;
    background-color: #0A9300;
    color: white;
    box-shadow: hsl(125, 80%, 20%) 0px 7px 0px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, font-size 0.3s ease, transform 0.3s ease;
    width: 280px;
}
main button:hover {
    background-color: #087500;
    transform: scale(1.05);
}
.reset_button {
    display: block;
    margin: /* 60px 160px */60px auto 0 auto;
    font-size: 1.35rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    padding: 0.938rem 1.25rem;
    color: white;
    background-color: #C00000; /* Dark red equivalent */
    box-shadow: hsl(0, 80%, 20%) 0px 7px 0px 0px; /* Red shadow */
    cursor: pointer;
    transition: background-color 0.3s ease, font-size 0.3s ease, transform 0.3s ease;
    width: 280px;
}
.reset_button:hover {
    background-color: #750000;
    transform: scale(1.05);
}
.booking_container {
    display: flex;
    justify-content: center;
    background: linear-gradient(
    -45deg,
    #A8E1A1,
    #a8e0a0,
    #bdebb9,
    #dcfce7, 
    #f0fff0,
    #d4f7d1
    );
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 200%;
    width: 100%;
    border-radius: 5px;
    height: fit-content;
    padding: 10px 80px;
    gap: 40px;
}
.sticky_total {
    min-width: 41%;
    max-width: 41%;
}
.total--container {
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 40px;
    outline: none;
    position: sticky; 
    top: 140px;
    margin-top: 14px;
    width: 100%;
}
.total--container--inner {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}
#total_cost, #service_duration {
    font-size: 1.2rem;
    margin-left: 10px;
}


.form {
    background: linear-gradient(
    -45deg,
    #A8E1A1,
    #a8e0a0,
    #bdebb9,
    #dcfce7, 
    #f0fff0,
    #d4f7d1
    );
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 200%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 0px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    min-width: 59%;
    max-width: 59%;
    height: fit-content;
}
.personal_details--container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.personal_details--container h2, .appointment_details--container h2 {
    text-decoration: underline;
}
.appointment_details--container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.date--container {
    display: flex;
    flex-direction: column;
    gap: 30px;
} 
.name--container > input, .personal_details--container > input, .date--container > input, .appointment_details--container select {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    outline: none;
}
.appointment_details--container textarea {
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px black;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    outline: none;
}
.name--container {
    display: flex;
    gap: 20px;
}
.service--container {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}
.service--container--inner {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.service--container--inner button {
    height: 20px;
    display: block;
    margin-left: 0 auto;
}
#services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 768px) {
    .booking_container {
        padding: 10px 40px;
        width: 100%;
        justify-content: flex-start;
    }
    .sticky_total {
        position: fixed;
        top: 140px;
        min-width: 80%;
    }
    .total--container {
        display: flex;
        padding: 10px 20px;
        gap: 20px;
    }
    .total--container--inner {
        flex-direction: column;
        font-size: 1rem;
    }
    .total--container--inner h2, .total--container--inner p {
        margin: 0;
    }
    .form {
        padding: 0px;
        padding-top: 140px;
        min-width: 100%;
        gap: 40px;
    }
    .form h2 {
        margin-bottom: 0;
    }
    .name--container {
        flex-direction: column;
    }
}