@media only screen and (max-width: 480px) {
    .nav_links {
        display: none !important;
    }
    .menu_button {
        display: block;
    }
    .hero_section {
        flex-direction: column;
    }
    .hero_section--text h1 {
        text-align: center;
    }
    .hero_section--text {
        width: 100% !important;
    }
    .carousel--container {
    }
    .swiper {
        width: 300px !important;
    }
    .testimonial_section--TOP {
        padding: 0 !important;
        width: 100% !important;
        justify-content: center !important;
    }
    .testimonial_section--BOTTOM {
        flex-direction: column;
        align-items: center;
    }
    .testimonial_quote {
        width: 35ch !important;
    }
    .testimonial_review h3 {
        text-align: center;
    }
    footer {
        max-width: 100vw;
    }
}





.header.MOBILE {
    justify-content: space-between;
    padding: 20px;
}
.menu_button {
    background-color: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}
main.MOBILE {
    display: flex;
    flex-direction: column;
}
.hero_section.MOBILE {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero_section.MOBILE h1 {
    text-align: center;
}


.carousel--container.MOBILE {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.carousel--container.MOBILE button {
    font-size: 1.35rem;
    font-weight: 500;
    padding: 0.938rem 1.25rem;
    background-color: #0A9300;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, font-size 0.3s ease;
    margin: 0 auto;
    width: 280px;
    box-shadow: hsl(125, 80%, 20%) 0px 7px 0px 0px;
}
.carousel--container.MOBILE button:hover {
    background-color: #087500;
    font-size: 1.5rem;
}
.swiper-slide.MOBILE img, .swiper-slide.MOBILE video {
    width: 100%;
    height: 94%;
    object-fit: contain;
    margin: 0 auto;
    pointer-events: none;
}
.swiper-button-prev.MOBILE::after, .swiper-button-next.MOBILE::after {
    color: #0A9300;
}
.swiper-button-prev.MOBILE, .swiper-button-next.MOBILE {
    font-size: 2rem;
}


.intro_section.MOBILE {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 80px auto 80px auto;
}
.intro_section--CTA.MOBILE {
    margin-top: 40px;
}
.testimonial_section.MOBILE {
    width: 100%;
}
.reviews--container.MOBILE {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.reviews_inner.MOBILE {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.18rem;
}








/* DESKTOP STYLING START    DESKTOP STYLING START   DESKTOP STYLING START   DESKTOP STYLING START   DESKTOP STYLING START   DESKTOP STYLING START */

main {
    background: transparent;
}
main h1 {
    font-family: "Montserrat", serif;
    font-size: 2.2rem;
    line-height: 1.3;
    font-weight: 650;    
    margin-bottom: 0;
}
.hero_section {
    width: 100%;
    display: flex;
    font-family: "Montserrat", serif;
    background: linear-gradient(135deg, rgba(0,128,0,0.05) 0%, rgba(0,128,0,0.1) 100%);
    padding: 4rem 0 2rem 0;
    border-radius: 0 0 20px 20px; 
}
.hero_section--text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: "Montserrat", serif;
    padding: 15px 35px 0 35px;
}
.hero_section--text h3 {
    max-width: 45ch;
    margin: -10px 0 0 0;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 550;
}
.hero_section_bullets {
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
}
.hero_section--text p {
    margin: 0;
    font-size: 1.2rem;
}
.hero_section--text--check {
    color: #D4AF37;
    font-size: 1.2rem;
    margin-right: 0.25rem;
}
.hero_section--CTA {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 5px auto 0 auto;
}
.hero_section--CTA button {
    padding: 0.938rem 1.25rem;
    font-size: 1.35rem;
    font-weight: 500;
    background-color: #0A9300;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;;
    box-shadow: hsl(125, 80%, 20%) 0px 7px 0px 0px;
}
.hero_section--CTA button:hover {
    transform: scale(1.05);
}
.carousel--container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 45px 35px 20px 35px;
}
.carousel--container button {
    font-size: 1.35rem;
    font-weight: 500;
    padding: 0.938rem 1.25rem;
    background-color: #0A9300;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, font-size 0.3s ease;
    margin: 0 auto;
    width: 280px;
    box-shadow: hsl(125, 80%, 20%) 0px 7px 0px 0px;
}
.carousel--container button:hover {
    background-color: #087500;
    font-size: 1.5rem;
}
.swiper {
    height: 28.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    border-radius: 0.313rem;
    margin: 0 !important;
}
.swiper-slide img, .swiper-slide video {
    width: 100%;
    height: 94%;
    object-fit: contain;
    margin: 0 auto;
}
.swiper-button-prev::after, .swiper-button-next::after {
    color: #0A9300;
}
.swiper-button-prev, .swiper-button-next {
    font-size: 2rem;
}

/* TESTIMONIAL SECTION START */
.testimonial_section {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
}
.testimonial_section--TOP {
    display: flex;
    justify-content: space-around;
    padding: 0 55px 40px 0;
}
.testimonial_section--BOTTOM {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    height: fit-content;
    background: linear-gradient(135deg, rgba(0,128,0,0.05) 0%, rgba(0,128,0,0.1) 100%);
}
.testimonial_quote--container {
    display: flex;
    gap: 2rem;
}
.testimonial_review img {
    width: 50px;
    height: 50px;
}
.testimonial_review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial_quote p, .testimonial_quote blockquote {
    margin: 0;
}
.testimonial_quote {
    color: #1f2937;
    width: 40ch;
    background: white;
    padding: 15px;
    line-height: 1.5;
    border: 2px solid #bfa76a;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
    padding: 32px;
    height: fit-content;
}
.testimonial_quote:hover {
    transform: translateY(-4px);
}
.testimonial_section--CTA {
    width: 100%;
    padding-top: 2.5rem;
    text-align: center;
}
.testimonial_section--CTA button {
    width: 280px;
    padding: 0.938rem;
    font-size: 1.35rem;
    font-weight: 500;
    background-color: #0A9300;
    color: white;
    border-radius: 12px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: hsl(125, 80%, 20%) 0px 7px 0px 0px;
}
.testimonial_section--CTA button:hover {
    transform: scale(1.05);
}
/* TESTIMONIAL SECTION END */


footer {

}