main {
    padding: 35px;
}
main h1 {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #087500;
    text-align: center;
    margin-top: 0;
}
.service_selector {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 50px;
    border: 2px solid #087500;
    border-radius: 3px;
    padding: 20px;
}
.service_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service_icon button {
    width: 140px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, border-bottom 0.1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service_icon button:hover {
    transform: translateY(-10%);
    border-bottom: 2px solid #087500;
}
#icon-indicator {
    width: 20px;
    height: auto;
    margin-bottom: 10px;
}
.service_icon img {
    width: 45px;
    height: auto;
}