* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
}

/* NAV STYLING START */
nav {
    display: flex;
    width: 100%;
    min-width: 100%;
    padding: 10px 30px;
    position: fixed;
    align-items: center;
    height: 10rem;
}
nav img, nav a {
    align-self: center;
}
.nav_links--left {
    display: flex;
    gap: 1.875rem;
    margin-left: 1.875rem;
    font-size: 1.125rem;
    text-align: center;
}
.nav_links--left a {
    color: #0A9300;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    border-bottom: none;
    transition: border-bottom 0.05s ease;
}
.nav_links--left a:hover {
    filter: drop-shadow(0 0 0.75rem black);
}
.nav_links--right {
    margin-left: auto;
    padding-bottom: 1.25rem;
}
nav button {
    font-size: 1.35rem;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid white;
    padding: 10px 20px;
    background-color: #0A9300;
    color: white;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
nav button:hover {
    background-color: #087500;
}
/* NAV STYLING END */

/*  MAIN STYLING START */

main {
    padding-top: 10rem;
}
main h1 {
    text-align: center;
    font-family: "Montserrat", serif;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 450;
    text-decoration: underline;
    text-decoration-color: #087500;
}


.swiper {
    width: 55rem;
    height: 26.813rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    background-color: beige;
}
.swiper-slide img, .swiper-slide video {
    width: 100%;
    height: 94%;
    object-fit: contain;
    margin: 0 auto;
}
.swiper-pagination-bullet, .swiper-pagination-bullet-active {
    background-color: #0A9300 !important;
}
.swiper-button-prev::after, .swiper-button-next::after {
    color: #0A9300;
}
/*  MAIN STYLING END */

/* FOOTER STYLING START */

footer {
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: 100%;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}
footer p {
    margin: 0;
}
.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.footer_contact h2, .footer_location h2 {
    text-align: center;
    margin: 0;
}
.footer_contact_inner {
    display: flex;
    gap: 10px;
}
.footer_contact_inner_numbers {
    display: flex;
    flex-direction: column;
}
.footer_location {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/* FOOTER STYLING END */